* {
  box-sizing: border-box; }

body {
  background: #F8FAFF; }

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px; }

aside {
  width: 255px;
  height: 100%;
  background: #FFFFFF; }
  aside .logo {
    padding: 20px 17px 26px; }
  aside ul.nav li {
    padding-left: 21px;
    border-left: solid 4px #FFFFFF; }
  aside ul.nav li:hover {
    color: #000;
    border-left: solid 4px #6666CC; }
    aside ul.nav li:hover a.nav-link span {
      color: #000; }
  aside ul.nav a.nav-link {
    padding-left: 0;
    padding-right: 0; }
    aside ul.nav a.nav-link span {
      color: #7D7D7D;
      font-size: 14px;
      padding-left: 20px; }
  aside ul.nav li.active {
    border-left: solid 4px #6666CC; }
    aside ul.nav li.active a.nav-link span {
      color: #000; }

.wrapper {
  background: #F8FAFF;
  width: 100%;
  max-width: 1125px;
  min-height: 100%; }
  .wrapper header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .wrapper header nav ol {
      display: flex;
      flex-wrap: nowrap; }
      .wrapper header nav ol li {
        white-space: nowrap; }
        .wrapper header nav ol li a {
          text-decoration-line: none;
          color: #656565; }
    .wrapper header .inner {
      white-space: nowrap; }
      .wrapper header .inner .message {
        width: 64px;
        height: 64px;
        border: solid 1px #d4d4d4;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s;
        background: #F8FAFF;
        position: relative; }
        .wrapper header .inner .message .indicator__box {
          position: absolute;
          width: 13px;
          height: 13px;
          background: #F8FAFF;
          border-radius: 50%;
          top: 21%;
          left: 58%; }
          .wrapper header .inner .message .indicator__box .indicator {
            background: #E42626;
            width: 7px;
            height: 7px;
            border-radius: 50%; }
      .wrapper header .inner .message:hover {
        background: #EFEEEF; }
      .wrapper header .inner .profile {
        margin-left: 16px;
        font-size: 14px;
        color: #7D7D7D;
        background: #FFFFFF;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s; }
      .wrapper header .inner .profile:hover {
        background: #EFEEEF; }
  .wrapper main {
    padding-top: 10px;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative; }
    .wrapper main button.create {
      background-color: #55C97B;
      margin-bottom: 36px; }
    .wrapper main h1 {
      font-size: 22px; }
    .wrapper main .table {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
      .wrapper main .table button {
        font-size: 12px; }
        .wrapper main .table button span {
          padding-left: 12px; }
      .wrapper main .table button.edit {
        background-color: #55C97B; }
      .wrapper main .table button.delete {
        background-color: #B1B1B1; }
    .wrapper main .popup__wrap.open {
      display: flex;
      opacity: 1; }
    .wrapper main .popup__wrap {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      opacity: 0; }
      .wrapper main .popup__wrap .popup {
        width: 100%;
        max-width: 616px;
        height: 100%;
        max-height: 400px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .wrapper main .popup__wrap .popup .title .close-popup {
          cursor: pointer; }
        .wrapper main .popup__wrap .popup .template {
          width: 240px; }
        .wrapper main .popup__wrap .popup .info img {
          width: 55px;
          height: 55px;
          margin-right: 16px; }
        .wrapper main .popup__wrap .popup .info span {
          font-size: 12px;
          font-weight: 500; }
        .wrapper main .popup__wrap .popup .inner-btn button.cancel {
          padding: 8px 50px;
          font-size: 12px;
          background: #B1B1B1;
          color: #FFFFFF; }
        .wrapper main .popup__wrap .popup .inner-btn button.create1 {
          padding: 8px 50px;
          font-size: 12px;
          background: #55C97B;
          color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
