@font-face {
	font-family: 'Geometria';
	src: url('Geometria.eot');
	src: url('Geometria.eot?#iefix') format('embedded-opentype'),
		url('Geometria.woff2') format('woff2'),
		url('Geometria.woff') format('woff'),
		url('Geometria.ttf') format('truetype'),
		url('Geometria.svg#Geometria') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Italic.eot');
	src: url('Geometria-Italic.eot?#iefix') format('embedded-opentype'),
		url('Geometria-Italic.woff2') format('woff2'),
		url('Geometria-Italic.woff') format('woff'),
		url('Geometria-Italic.ttf') format('truetype'),
		url('Geometria-Italic.svg#Geometria-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Medium.eot');
	src: url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('Geometria-Medium.woff2') format('woff2'),
		url('Geometria-Medium.woff') format('woff'),
		url('Geometria-Medium.ttf') format('truetype'),
		url('Geometria-Medium.svg#Geometria-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-ExtraBold.eot');
	src: url('Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Geometria-ExtraBold.woff2') format('woff2'),
		url('Geometria-ExtraBold.woff') format('woff'),
		url('Geometria-ExtraBold.ttf') format('truetype'),
		url('Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

* {
	font-family: 'Geometria', sans-serif;
	font-size: 24px;
	line-height: 28.8px;
}
@media (max-width: 768px) {
	* {
		font-size: 18px;
		line-height: 20px;
	}
}
@media (max-width: 576px) {
	* {
		font-size: 12px;
		line-height: 110%;
	}
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-weight: 800;
	font-style: normal;
	color: #82B428;
}
h2, h4 {
	color: #2DA3DC;
}

h1, h2 {
	font-size: 48px;
	line-height: 60px;
}
@media (max-width: 768px) {
	h1, h2 {
		font-size: 36px;
		line-height: 46px;
	}
}
@media (max-width: 576px) {
	h1, h2 {
		font-size: 24px;
		line-height: 30px;
	}
}

h3 {
	font-size: 36px;
	line-height: 45px;
}
@media (max-width: 768px) {
	h3 {
		font-size: 30px;
		line-height: 38px;
	}
}
@media (max-width: 576px) {
	h3 {
		font-size: 24px;
		line-height: 30px;
	}
}